.vscode/
**/prog
**/progcomplex
**/main.cpp
**/complex
**/list
**/personal
**/build*
**/CMakeLists.txt
**/employee
**/resistor
**/person
**/cmake-build-debug/
**/.idea
lab9/zad1/zad1
lab9/zad2/zad2
lab9/zad_extra/zadanie_extra

